<%- include('../partials/header') %>

<!-- <form action="/skills" method="POST" autocomplete="off">
    <input type="text" name="skill">
    <button type="submit">Save Skill</button>
</form> -->

<form action="/skills" method="POST" autocomplete="off">
  <div class="mb-3">
    <label for="skill" class="form-label">Add a new Skill</label>
    <input type="text" class="form-control" id="skill" aria-describedby="skillHelp" name="skill">
    <div id="skillHelp" class="form-text">Please enter a new skill</div>
  </div>
  <button type="submit" class="btn btn-primary">Save Skill</button>
</form>

<%- include('../partials/footer') %>